
$alert-red: #F35A4F;
$border-color-input: #C9D8DB;
$box-shadow-black_25: rgba($color: #000000, $alpha: 0.25);
$box-shadow-black_30: rgba($color: #000000, $alpha: 0.3);
$box-shadow-black_80: rgba($color: #000000, $alpha: 0.8);
$black: #000;
$main-background: #226a9b;
$main-text-color: #44454a;
$max-width-default: 1380px;
$primary: #f4b641;
$primary-light: #f4d34b;
$primary-dark: #f48a32;
$success-color: #00bc8c;
$text-lighter: #829598;
$white: #fff;
$white_40: darken($white, 60%);

$border-radius-default: 6px;
$box-shadow-default: 2px 2px 8px -1px $box-shadow-black_30;

$z-index-header: 1000;
$z-index-modal: 1001;

$extraLargeScreen: 1920px;
$largeScreen: 1200px;
$mobileScreen: 480px;
$smallScreen: 1024px;
$tabletsScreen: 768px;