.table {
  width: 100%;
  margin: 50px auto 20px;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
    
  th {
    padding: 10px;
    color: $white;
    font-size: 1.2rem;
    border: 1px solid $text-lighter;
    text-transform: capitalize;
    background-color: $main-background;
  }

  td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid $text-lighter;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;

    button {
      width: 100%;
      padding: 2px;
      border-width: 0.5px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-placeholder {
    @include flex-row-centered();

    width: 100%;
    padding: 25px;

    svg {
      width: 50px;
    }

    span {
      color: $text-lighter;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}